*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration:none;
}
.clear{
    clear: both;
}
/* 头部 */
.head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    height: 105px;
    width: 100%;
    background: white;
}

.tupian {
    float: left;
    padding-top: 17px;
    padding-left: 30px;
}

.nav_dig {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    z-index: 60;
    background: white;
}

.nav {
    width: 1270px;
    margin: auto;
}

.nav ul {
    float: right;
    width: 800px;
}

.nav ul li {
    float: left;
    position: relative;
}

.nav ul li a {
    display: block;
    width: 120px;
    height: 105px;
    font-size: 15px;
    color: #444;
    line-height: 105px;
    text-align: center;
}

.xian {
    width: 0px;
    height: 1.5px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    background: #7fcc27;
    transition: all 0.4s;
}

.nav ul li:hover a {
    color: #7fcc27;
}

.nav ul li:hover .xian {
    width: 120px;
    left: 0;
}
/* 条 */
.article {
    width: 100%;
    height: 50px;
    background-color: rgba(242, 242, 242, 1);
    padding-left: 200px;
    box-sizing: border-box;
    margin-top: 105px;
}

.article div {
    height: 50px;
    float: left;
}

.article div a {
    color: #333;
    line-height: 50px;
}

.article div p {
    line-height: 50px;
}
/* 主题 */
.theme {
    padding-left: 200px;
    box-sizing: border-box;
    height: 110px;
    border-bottom: 1px dashed #ddd;
}

.theme span:nth-child(1) {
    font-family: 微软雅黑;
    color: #333333;
    font-size: 30px;
    line-height: 110px;
    float: left;
}

.theme span:nth-child(2) {
    font-family: 微软雅黑;
    color: #999999;
    font-size: 16px;
    line-height: 110px;
    float: left;
}
.theme ul{
    float: right;
    width: 500px;
    margin-top: 20px;
}
.theme ul li{
    float: left;
    position: relative;
}
.theme ul li:hover a{
    color: #7fcc27;
}
.theme ul li::after{
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background: #7fcc27;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 0.6s;
}
.theme ul li:hover::after{
    width: 120px;
    left: 0;
}
.theme ul li a{
    white-space: normal;
    font-size: 15px;
    color: #444;
    line-height: 70px;
    height: 70px;
    width: auto!important;
    padding: 0px 30px;
    text-align: center;
}
.contact{
    width: 100%;
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
}
.contact h2{
    width: 500px;
    margin: auto;
    font-weight: normal;
    font-size: 30px;
}
.zuo{
    float: left;
}
.zuo ul li{
    line-height: 40px;
    font-size: 18px;
}
.zuo ul{
    text-align: left;
}
.you{
    float: right;
    width: 650px;
    height: 480px;
}
.contact_main{
    width: 1100px;
    margin: auto;
    padding-top: 70px;
    box-sizing: border-box;
    height: 650px;
}




.footer_bx {
    padding-top: 60px;
    box-sizing: border-box;
    width: 1200px;
    height: 152px;
    margin: auto;
}

.footer_tit {
    width: 600px;
    float: right;
    margin-top: 12px;
}

.footer_bx .footer_tit a {
    display: block;
    text-align: center;
    width: 80px;
    font-size: 12px;
    color: #333;
    float: left;
    border-right: 1px solid black;
    transition: all 0.6s;
}

.footer_bx .footer_tit a:nth-child(6) {
    border: 0px;
}

.footer_bx .footer_tit a:hover {
    color: #7fcc27;
}

.footer_kont {
    float: right;
    margin-top: -24px;
}

.footer_kont p {
    width: 680px;
    font-size: 12px;
    color: #333;
}

.footer_kont a {
    color: #333;
}

.footer_kont a:hover {
    color: #7fcc27;
}

/* 底部 */