*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration:none;
}
.clear{
    clear: both;
}
/* 头部 */
.head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    height: 105px;
    width: 100%;
    background: white;
}

.tupian {
    float: left;
    padding-top: 17px;
    padding-left: 30px;
}

.nav_dig {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    z-index: 60;
    background: white;
}

.nav {
    width: 1270px;
    margin: auto;
}

.nav ul {
    float: right;
    width: 800px;
}

.nav ul li {
    float: left;
    position: relative;
}

.nav ul li a {
    display: block;
    width: 120px;
    height: 105px;
    font-size: 15px;
    color: #444;
    line-height: 105px;
    text-align: center;
}

.xian {
    width: 0px;
    height: 1.5px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    background: #7fcc27;
    transition: all 0.4s;
}

.nav ul li:hover a {
    color: #7fcc27;
}

.nav ul li:hover .xian {
    width: 120px;
    left: 0;
}
/* 条 */
.article {
    width: 100%;
    height: 50px;
    background-color: rgba(242, 242, 242, 1);
    padding-left: 200px;
    box-sizing: border-box;
    margin-top: 105px;
}

.article div {
    height: 50px;
    float: left;
}

.article div a {
    color: #333;
    line-height: 50px;
}

.article div p {
    line-height: 50px;
}
/* 主题 */
.theme {
    padding-left: 200px;
    box-sizing: border-box;
    height: 110px;
    border-bottom: 1px dashed #ddd;
}

.theme span:nth-child(1) {
    font-family: 微软雅黑;
    color: #333333;
    font-size: 30px;
    line-height: 110px;
    float: left;
}

.theme span:nth-child(2) {
    font-family: 微软雅黑;
    color: #999999;
    font-size: 16px;
    line-height: 110px;
    float: left;
}
/* main */
.main{
    width: 100%;
    padding-top: 50px;
    box-sizing: border-box;
}
.main_bx{
    width: 1230px;
    margin: auto;
}
.main ul li{
    padding: 18px;
    margin:10px 15px;
    float: left;
    border:1px solid #e7e3e3;
    position: relative;
    overflow: hidden;
}
.xiaoguo{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 378px;
    background: #7fcc27;
    transition: top 0.6s cubic-bezier(0.8,0.6,1,1);
}
.main ul li:hover .xiaoguo {
    top: 0;
}
.main ul li:hover .ov span{
    background: white;
    color: #7fcc27;
}
.main ul li:hover p ,.main ul li:hover span{
    color: white;
}
.main ul li .ov{
    width: 340px;
    height: 170px;
    overflow: hidden;
    position: relative;
}
.main ul li .ov span{
    display: block;
    color: white;
    font-size: 12px;
    width: 70px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #7fcc27;
    position: absolute;
    top: 0;
    left: 0;
}
.main ul li img{
    display: block;
    margin-top: -40px;
    width: 340px;
    height: 250px;
}
.main ul li p{
    font-size: 16px;
    line-height: 1.4;
    color: #3E3E3E;
    height: 45px;
    overflow: hidden;
    margin: 16px 0px;
}
.main ul li>span{
    background: url(http://dfs.yun300.cn/group1/M00/00/5C/CgI9F1ir53-EGIKGAAAAAI-Rftc323.png) no-repeat scroll left center;
    padding: 2px 0px 2px 22px;
    margin-right: 12px;
    font-size: 12px;
    line-height: 180%;
}
/* 翻页 */
.paging{
    float: right;
    padding: 40px 0;
}
.paging .up{
    width: 80px;
    height: 30px;
    padding-top: 5px;
    box-sizing: border-box;
    background: #dbd7d7;
    color: white;
    font-size: 14px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.paging .up:hover , .paging span:hover{
    background: #7fcc27;
    color: white;
}
.paging span{
    float: left;
    display: block;
    height: 30px;
    width: 30px;
    padding-top: 4px;
    box-sizing: border-box;
    color: rgba(102, 102, 102, 1);
    background-color: rgba(242, 242, 242, 1);
    text-align: center;
    margin: 0 4px;
    cursor: pointer;
}
.paging .down{
    width: 80px;
    height: 30px;
    padding-top: 5px;
    box-sizing: border-box;
    background: #dbd7d7;
    color: white;
    font-size: 14px;
    text-align: center;
    float: left;
    background: #7fcc27;
    cursor: pointer;
}


/* 底部 */
.footer_bx {
    padding-top: 60px;
    box-sizing: border-box;
    width: 1200px;
    height: 152px;
    margin: auto;
}

.footer_tit {
    width: 600px;
    float: right;
    margin-top: 12px;
}

.footer_bx .footer_tit a {
    display: block;
    text-align: center;
    width: 80px;
    font-size: 12px;
    color: #333;
    float: left;
    border-right: 1px solid black;
    transition: all 0.6s;
}

.footer_bx .footer_tit a:nth-child(6) {
    border: 0px;
}

.footer_bx .footer_tit a:hover {
    color: #7fcc27;
}

.footer_kont {
    float: right;
    margin-top: -24px;
}

.footer_kont p {
    width: 680px;
    font-size: 12px;
    color: #333;
}

.footer_kont a {
    color: #333;
}

.footer_kont a:hover {
    color: #7fcc27;
}

/* 底部 */