*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration:none;
}
.clear{
    clear: both;
}
/* 头部 */
.head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    height: 105px;
    width: 100%;
    background: white;
}

.tupian {
    float: left;
    padding-top: 17px;
    padding-left: 30px;
}

.nav_dig {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    z-index: 60;
    background: white;
}

.nav {
    width: 1270px;
    margin: auto;
}

.nav ul {
    float: right;
    width: 800px;
}

.nav ul li {
    float: left;
    position: relative;
}

.nav ul li a {
    display: block;
    width: 120px;
    height: 105px;
    font-size: 15px;
    color: #444;
    line-height: 105px;
    text-align: center;
}

.xian {
    width: 0px;
    height: 1.5px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    background: #7fcc27;
    transition: all 0.4s;
}

.nav ul li:hover a {
    color: #7fcc27;
}

.nav ul li:hover .xian {
    width: 120px;
    left: 0;
}
/* 条 */
.article {
    width: 100%;
    height: 50px;
    background-color: rgba(242, 242, 242, 1);
    padding-left: 200px;
    box-sizing: border-box;
    margin-top: 105px;
}

.article div {
    height: 50px;
    float: left;
}

.article div a {
    color: #333;
    line-height: 50px;
}

.article div p {
    line-height: 50px;
}
/* 主题 */
.theme {
    padding-left: 200px;
    box-sizing: border-box;
    height: 110px;
    border-bottom: 1px dashed #ddd;
}

.theme span:nth-child(1) {
    font-family: 微软雅黑;
    color: #333333;
    font-size: 30px;
    line-height: 110px;
    float: left;
}

.theme span:nth-child(2) {
    font-family: 微软雅黑;
    color: #999999;
    font-size: 16px;
    line-height: 110px;
    float: left;
}
.theme ul{
    float: right;
    width: 400px;
    margin-top: 20px;
}
.theme ul li{
    float: left;
    position: relative;
}
.theme ul li:hover a{
    color: #7fcc27;
}
.theme ul li::after{
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background: #7fcc27;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 0.6s;
}
.theme ul li:hover::after{
    width: 120px;
    left: 0;
}
.theme ul li a{
    white-space: normal;
    font-size: 15px;
    color: #444;
    line-height: 70px;
    height: 70px;
    width: auto!important;
    padding: 0px 30px;
    text-align: center;
}
.main{
    width: 100%;
}
.main_bx{
    width: 1200px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
}
.main_bx h2{
    font-size:30px;
    color:#000000;
    font-weight: normal;
}
.pic1 , .pic2{
    margin-top: 30px;
}

.process{
    background-color: rgba(248, 248, 248, 1);
    padding: 30px 15px;
    display: flex;
}
.pic3,.pic4,.pic5{
    flex: 1;
}
.process_size{
    background-color: rgba(248, 248, 248, 1);
    height: 250px;
}
.size1,.size2,.size3{
    margin-left: 50px;
    margin-right: 30px;
    float: left;
    width: 319px;
    height: 180px;
    background: white;
}
.size1 strong,.size2 strong,.size3 strong{
    font-family:微软雅黑;
    color:#C9A164;
    font-size:20px
}
.size1 .s,.size2 .s,.size3 .s{
    display: block;
    padding: 0;
    width: 290px;
    text-align:justify;
    color:#808080;
    line-height:2;
    font-size:14px;
    font-family:微软雅黑;
    margin-top: -15px;
}
.series_tit{
    background-color: rgba(235, 110, 32, 0.2);
    height: 81px;
    margin-top: 50px;
}
.series_tit h1{
    font-size:24px;
    font-weight: normal;
    line-height: 81px;
    font-family:微软雅黑;
}
.let{
    padding-top: 30px;
    box-sizing: border-box;
}
.series_left{
    float: left;
    width: 600px;
    text-align: left;
}
.series_right{
    float: left;
    width: 600px;
    text-align: left;
}
.series_left p{
    font-size:20px;
    color:#333;
    font-family:微软雅黑;
}
.series_left span{
    display: block;
    width: 448px;
    color:#808080;
    line-height:2;
    font-size:16px;
}
.xiann{
    width: 500px;
    height: 50px;
    border-top:1px dotted #999999;
    position: relative;
    top: 30px;
}

.footer_bx {
    padding-top: 60px;
    box-sizing: border-box;
    width: 1200px;
    height: 152px;
    margin: auto;
}

.footer_tit {
    width: 600px;
    float: right;
    margin-top: 12px;
}

.footer_bx .footer_tit a {
    display: block;
    text-align: center;
    width: 80px;
    font-size: 12px;
    color: #333;
    float: left;
    border-right: 1px solid black;
    transition: all 0.6s;
}

.footer_bx .footer_tit a:nth-child(6) {
    border: 0px;
}

.footer_bx .footer_tit a:hover {
    color: #7fcc27;
}

.footer_kont {
    float: right;
    margin-top: -24px;
}

.footer_kont p {
    width: 680px;
    font-size: 12px;
    color: #333;
}

.footer_kont a {
    color: #333;
}

.footer_kont a:hover {
    color: #7fcc27;
}

/* 底部 */